* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.radio-group div,
.checkbox-group div {
  display: flex;
  align-items: center;
}

.radio-group label,
.checkbox-group label {
  margin-left: 10px;
  margin-bottom: auto;
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.b1 {
  background-color: #04aa6d;
  color: white;
  border-radius: 5px;
}

.b1:hover {
  background-color: #93dbc1;
  color: white;
}

.b2 {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
}

.b2:hover {
  background-color: #d4827c;
  color: white;
}

.btn {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input,
  textarea,
  select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
